/* Main CSS */

	.main-container{
		overflow: auto;
		padding:20px;
	}

	.note-list-wrapper{
		width: 20%;
		
	}

	.note-view{
		width: 80%;
	
	}

	li{
		 list-style-type: none;
	}

	.note-list-wrapper,
	.note-view{
		float: left;
	}

	.mobile-menu{
		display:none;
	}


/*tablet*/

/*landscape mobile*/

@media screen and (max-width: 480px){

	.mobile-menu{
		display:block;	
	}
	.list-header{
		padding: 10%;
		text-align: center;
	}
	.note-view{
		padding:10%;
	
	}

	.navbar .nav {
		float: right;
		margin:0;
	}
	.note-list-wrapper{
		
	}
		.desktop-link{
		display:none;	
	}
	.table th, .table td {
		padding: 10%;
	}


}